BODY[data-v-9875d3] {
  color: #000;
  font: 16px / 1.4 Trebuchet MS, Arial, sans-serif;
}

A[data-v-9875d3] {
  color: #4682b4;
}

H1[data-v-9875d3] {
  text-align: center;
  font: 2em / 1.4 Georgia, serif;
}

H4[data-v-9875d3] {
  margin: 0 0 .15em;
  font: 1.3em / 1.4 Georgia, serif;
}

P[data-v-9875d3] {
  margin: 1.2rem 0;
}

TEXTAREA[data-v-9875d3] {
  width: 100%;
  height: 150px;
  border: 1px solid #ccc;
  border-radius: 10px;
  margin: 0;
  font-family: monospace;
  font-size: 13px;
}

CODE[data-v-9875d3] {
  text-shadow: 1px 1px #fff;
  color: #333;
  background: #eee;
  border-radius: 5px;
  padding: 0 3px;
  font: 14px / 1.4 monospace;
}

CODE I[data-v-9875d3] {
  color: #000;
  font-style: italic;
}

DL[data-v-9875d3], DD[data-v-9875d3], DT[data-v-9875d3] {
  margin: 0;
}

DL[data-v-9875d3] {
  text-align: right;
}

DT[data-v-9875d3] {
  color: #4682b4;
  cursor: pointer;
  border-bottom: 1px dashed;
  line-height: 1;
  display: inline-block;
}

DT[data-v-9875d3]:after {
  content: "";
  border: 4px solid #0000;
  border-top: 8px solid;
  border-bottom: 0 solid;
  margin-left: 5px;
  display: inline-block;
}

.opened[data-v-9875d3]:after {
  border-width: 0 4px 8px;
}

DD[data-v-9875d3] {
  text-align: left;
}

.hidden[data-v-9875d3] {
  display: none;
}

.visuallyhidden[data-v-9875d3] {
  width: 1px;
  height: 1px;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  border: 0;
  margin: -1px;
  padding: 0;
  position: absolute;
  overflow: hidden;
}

.wrapper[data-v-9875d3] {
  width: 650px;
  margin: 1.5rem auto 4rem;
}

.header[data-v-9875d3] {
  border-bottom: 1px solid #ccc;
  margin-bottom: 2rem;
  padding-bottom: 1rem;
  position: relative;
}

.header[data-v-9875d3]:before {
  content: "";
  width: 100%;
  clear: both;
  display: table;
}

.langs[data-v-9875d3] {
  margin: auto;
  list-style-type: none;
  position: absolute;
  top: 0;
  right: 0;
}

.langs__item[data-v-9875d3] {
  display: inline-block;
}

.langs__link--current[data-v-9875d3] {
  color: #000;
}

.footer[data-v-9875d3] {
  border-top: 1px solid #ccc;
  justify-content: space-between;
  margin-top: 3rem;
  padding-top: 2rem;
  display: flex;
  position: relative;
}

.panel[data-v-9875d3] {
  z-index: 1;
  justify-content: space-between;
  margin-bottom: 2.5rem;
  display: flex;
  position: relative;
}

.options[data-v-9875d3] {
  position: relative;
}

.options__middle-word[data-v-9875d3] {
  vertical-align: middle;
  color: #aaa;
}

.options__text[data-v-9875d3] {
  color: #4682b4;
  cursor: pointer;
  border-bottom: 1px dashed;
  display: inline-block;
}

.options__input:checked + .options__text[data-v-9875d3] {
  color: inherit;
  cursor: default;
  border: 0;
}

.expander[data-v-9875d3] {
  z-index: 2;
  position: relative;
}

.expanded[data-v-9875d3] {
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 2rem 1.5rem 1rem;
  position: absolute;
  top: -15px;
  left: -15px;
  right: -15px;
  box-shadow: 0 0 0 5px #0000001a;
}

.button-example[data-v-9875d3] {
  line-height: 1;
  font: inherit;
  color: #4682b4;
  cursor: pointer;
  border: 0;
  border-bottom: 1px dashed;
  align-self: center;
  padding: 0;
  font-size: 14px;
}

.containers[data-v-9875d3] {
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 32px;
  display: flex;
}

.container[data-v-9875d3] {
  width: 48%;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 1em;
  display: flex;
  position: relative;
}

.demo-wrapper[data-v-9875d3] {
  width: 100%;
  border: 1px dashed #00000040;
}

.demo[data-v-9875d3] {
  height: 150px;
  background-repeat: no-repeat;
}

.contrast-buttons[data-v-9875d3] {
  align-items: center;
  margin-bottom: .4em;
  display: flex;
}

.contrast-button[data-v-9875d3] {
  width: 2em;
  height: 2em;
  cursor: pointer;
  border: 1px solid #00000040;
  border-radius: 50%;
  outline: none;
  margin-left: 5px;
  padding: 0;
  display: block;
}

.contrast-button--current[data-v-9875d3] {
  box-shadow: 0 0 0 3px #4682b4;
}

.contrast-button[data-v-9875d3]:active {
  box-shadow: 0 0 0 3px #00000040;
}

.contrast-button--white[data-v-9875d3] {
  background: #fff;
}

.contrast-button--silver[data-v-9875d3] {
  background: silver;
}

.contrast-button--black[data-v-9875d3] {
  background: #000;
}

/*# sourceMappingURL=index.37cc4aea.css.map */
